<div class="relative bg-gradient-to-r from-cyan-950 to-blue-800 border-4 border-indigo-200 border-l-indigo-700">
  <div class="fixed top-0 left-0 right-0 shadow bg-cyan-950 z-40">
    <nav class=" p-4">
      <div class="flex justify-between">
        <div class="logo">
          <img  src="logo.png" class="size-10">
        </div>
        <div class="grid grid-cols-2 gap-2">
          <div class="">
          <a class="rounded-full p-2 ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-300 duration-300 font-sans  font-bold text-cyan-600" href="#A-propos">A propos</a>
          <a class="rounded-full p-2 ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-300 duration-300 font-sans  font-bold text-cyan-600" href="#Contact">Contact</a>
         </div>
          <div class="dropdown">
            <a class="rounded-full p-2 ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-300 duration-300 font-sans  font-bold text-cyan-600 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projets
            </a>

            <ul class="dropdown-menu bg-transparent">
              <li><a class="dropdown-item rounded-full ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-300 duration-300 font-sans  font-bold text-cyan-600" href="#Cuisine">Cuisine</a></li>
              <li><a class="dropdown-item font-sans rounded-full ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-300 duration-300 font-sans  font-bold text-cyan-600" href="#Gestionnaire-de-tache">Gestionnaire de taches</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <section class="flex min-h-screen flex-col justify-center text-cyan-600">
    <div class="text-center p-2">
        <h3 class="text-2xl font-sans  font-bold">  Bienvenue sur mon portfolio ! </h3>
        <p class="font-serif  font-bold"> Ce site contiendra tous mes projets les plus concret et interressent. </p>
        <p class="font-serif  font-bold"> Pour explorer mon travail et en savoir plus sur moi, vous pouvez scroller ou cliquer sur les liens dans la barre de navigation ci-dessus. </p>
        <p class="font-serif  font-bold"> Ou sans plus tarder. </p>
        <div class="mt-4">
          <a class="rounded-full p-2 bg-cyan-300 font-sans  font-bold text-cyan-600" href="#MesProjets">Projets</a>
        </div>
         </div>
  </section>

  <section id="A-propos" class="flex min-h-screen m-8 flex-col justify-center text-cyan-600">
    <div class="justify-item-center ">
      <div class="text-center">
        <h3 class="text-2xl font-sans p-4 font-bold">  A propos de moi! </h3>
        <div class="">
          <img class="pl-4 rounded float-end size-40" src="moi.jpg" alt="Photo de Winny Yanel">
          <p class="pr-4 font-serif font-bold">
            Je me nomme <b>ASSEMBE ENGHOT Winny Yanel</b>. Après avoir obtenu mon baccalauréat D en 2021 au lycée Jean Rémi Bessieux, ma passion pour l'informatique m'a conduit à m'inscrire en Génie Logiciel à l'ESGIS GABON.<br>
            En tant qu'étudiant, j'ai rapidement développé une passion pour le développement informatique, explorant divers langages de programmation tels que C, C++, Java et bien d'autres. Dès ma deuxième année, j'ai décidé de me lancer dans un apprentissage autodidacte des frameworks web, en commençant par Angular et Spring Boot.
            Ensuite, j'ai également expérimenté différents frameworks comme Vue.js et React avant de décider de me concentrer sur Angular et Laravel pour améliorer et stabiliser mes compétences fullstack.
          </p>
        </div>

      </div>
    </div>
  </section>
  <div id="MesProjets" class=" flex justify-center p-4">
    <h2 class="text-2xl text-cyan-600 font-sans p-4 font-bold">Mes projets</h2>
  </div>
  <section id="Cuisine" class="flex min-h-screen flex-col items-center text-cyan-600">
    <div class="card bg-transparent m-8 text-cyan-600">
      <div class="row g-0">
        <H4 class="text-center text-2xl font-sans p-4 font-bold">Cuisine</H4>
        <div class="col">
          <div class="card-body">
            <h5 class="card-title text-xl font-sans p-4 font-bold"><b>information</b></h5>
            <p class="card-text font-serif font-bold">Site de gestions de recette de cuisine realiser en angular(front-end)-laravel(backend) permettant aux visiteurs
              de consulter des plats et leur recette de cuisines.<br>
            -Affichage du catalogue .<br>
            -bouton voir recette<br>
            -Page de connexion pour l'admin<br>
            -Operation CRUD sur les plats et les users ajouter en tant que
            cuisinier qui peuvent inserer des recettes<br>
            -Lien vers le depot github: <a class="rounded-full p-2 ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-300 duration-300" href=" https://github.com/vinnyyanel/Cuisine"> Cuisine</a>
         </p>
            </div>
        </div>
        <div class="col-md-4">
          <h5 class=" text-xl font-sans p-4 font-bold">Image du site</h5>
          <div id="carouselCuisine" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="allPlat.jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="platDetails.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="search.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="connexion.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="dashboard.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="platAdd.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCuisine" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Arriere</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCuisine" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">suivant</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section id="Gestionnaire-de-tache" class="flex min-h-screen flex-col items-center text-cyan-600">
    <div class="card bg-transparent m-8 text-cyan-600">
      <div class="row g-0">
        <H4 class="text-center text-2xl font-sans p-4 font-bold">Gestionnaire de taches</H4>
        <div class="col">
          <div class="card-body">
            <h5 class="card-title text-xl font-sans p-4 font-bold"><b>information</b></h5>
            <p class="card-text font-serif font-bold">Site de gestions de taches realiser en laravel(fullstack) permettant aux utilisateurs
              de consulter leurs taches dans un dashboard.<br>
            -Page index contenant une landing page avec un carrousel contenant les photos du du site et ses fonctionnalitées.<br>
            -le bouton de connexion et un bouton d'inscription pour les utilisateurs non connecter.<br>
            -Liste des taches dans un dashboard<br>
            -Taches en attente son signaler en rouge pour attirer l'attention de l'utilisateur<br>
            -CRUD sur les taches et sur l'user pour Qu'il puisse modifier son profil<br>
            -Lien vers le depot github: <a class="rounded-full p-2 ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-300 duration-300" href=" https://github.com/vinnyyanel/laravel_gestionaires_de_taches_backend"> gestionnaire-de-tache</a>
         </p>
            </div>
        </div>
        <div class="col-md-4">
          <h5 class=" text-xl font-sans p-4 font-bold">Image du site</h5>
          <div id="carouselGestionTache" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="simple.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="erreur.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="ajout-tache.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="modification.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="profil.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselGestionTache" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">arriere</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselGestionTache" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">suivant</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="Contact" class="w-100">
    <footer>
      <div class="">
        <div class="flex">
          <a href="" class="flex items-center rounded-full p-2 ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-300 duration-300 font-sans  font-bold text-cyan-600">
            <img class="size-8" src="email.png" alt="">
            Assembeenghot&#64;gmail.com
          </a>
        </div>
        <div class="flex">
          <a href="https://github.com/vinnyyanel" class="flex items-center rounded-full p-2 ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-300 duration-300 font-sans  font-bold text-cyan-600">
             <img class="size-8" src="github.png" alt="">
             vinnyyanel
          </a>
        </div>
        <div class="flex">
          <a href="www.linkedin.com/in/vinny-yanel-assembe-enghot-6a7325226" class="flex items-center rounded-full p-2 ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-300 duration-300 font-sans  font-bold text-cyan-600">
            <img class="size-8" src="linkedin.svg" alt="">
            ASSEMBE ENGHOT Winny Yanel
         </a>
        </div>
        <div class="text-center text-cyan-500 p-4 font-bold">
          &copy; 2024 portefolio. Tous droits réservés. Par ASSEMBE ENGHOT Winny Yanel.
        </div>
      </div>
    </footer>
  </div>
</div>
